.saved-items {
    width: calc(100vw - 14rem);
    display: flex;
    flex-direction: column;
    font-family: Josefin Sans;
  
    &__item-container {
      background-color: black;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2.5rem;
    }
    &__item {
      font-weight: 700;
      font-size: 3.5rem;
      text-transform: uppercase;
      color: white;
      margin-right: auto;
    }
  
    a {
      font-weight: 700;
      font-size: 2.5rem;
      text-transform: uppercase;
      color: white;
      margin-right: 2.5rem;
    }
  
    &__icon {
      cursor: pointer;
      color: white;
      &--active{
          color: dodgerblue;
      }
    }
    &__item-comments-container {
      margin-bottom: 1.5rem;
      background-color: whitesmoke;
    }
  
    &__vote-count {
      font-size: 2.5rem;
      color: white;
      line-height: 1;
      margin: 0;
    }
    &__comment-form {
      display: grid;
      grid-template-columns: 1fr max-content;
      grid-gap: 1.5rem;
      align-items: center;
      padding: 1.5rem;
    }
    &__comment-input {
      font-size: 2rem;
    }
  }
  