.menu {
  list-style: none;
  display: flex;
  margin: 0;
  margin-right: auto;
  padding: 0;

  &__link:link,
  &__link:visited {
    font-family: Josefin Sans;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all 0.2s;
  }
  &__link:hover,
  &__link-link:active {
    background-color: rgba(#000, 0.05);
    transform: translateY(-.3rem);
  }
}
